#textarea{
    border-color: black;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}

#char-count{
    padding-top: 10px;
}
.wrapper.limit-reached #textarea {
  border-color: #c84040;
  color: #c84040;
}

.wrapper.limit-reached #char-count {
  color: #c84040;
}